.profile-pan {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position:fixed; /* Stay in place */
    z-index: 1001; /* Stay on top */
    top: 0; /* Stay at the top */
	right:0;
    margin-top: 50px;
    background-color: #fff;
    border-left: 1px solid #eee;
    font-size: 0.9em;
}

.profile-pan a {
    padding: 7px 7px;
    text-decoration: none;
    color: #555;
    display: block;
    transition: 0.3s;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.6em;
}