<div class="form-container">
    <div class="title-holder"><h3>Billable Sign up</h3></div>
    <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" >
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name" name="name" [(ngModel)]="model.name" #name="ngModel"/>
            <label for="floatingInput">Name*</label>
            <div class="error-holder" *ngIf="errName"><i class="bi bi-x-circle"></i> {{errMsgName}}</div>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="surname" name="surname" [(ngModel)]="model.surname" #surname="ngModel"/>
            <label for="floatingInput">Surname</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="username" name="username" [(ngModel)]="model.username" #username="ngModel"/>
            <label for="floatingInput">Username*</label>
            <div class="error-holder" *ngIf="errUsername"><i class="bi bi-x-circle"></i> {{errMsgUsername}}</div>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="email" name="email" [(ngModel)]="model.email" #email="ngModel"/>
            <label for="floatingInput">Email*</label>
            <div class="error-holder" *ngIf="errEmail"><i class="bi bi-x-circle"></i> {{errMsgEmail}}</div>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="password" name="password" [(ngModel)]="model.password" #password="ngModel" />
            <label for="floatingPassword">Password*</label>
            <div class="error-holder" *ngIf="errPassword"><i class="bi bi-x-circle"></i> {{errMsgPassword}}</div>
        </div>
        <div class="error-holder" *ngIf="errMain"><i class="bi bi-x-circle"></i> {{errMsgMain}}</div>  
        <div class="action-btn-holder">
            <button type="submit" class="action-btn">SUBMIT</button>
        </div>
    </form>
</div>